body {
    background: #fffbe8;
    font-family: sans-serif;
    text-align: center;
}

header {
    background: #6b1a22;
    color: white;
    padding: 15px;
    font-size: 24px;
}

.btn {
    background: #d7a031;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    margin: 5px;
}

.card {
    background: white;
    border: 2px solid #d7a031;
    margin: 10px auto;
    padding: 10px;
    width: 70%;
}
